.container{
    .row{
        .col-12{
            .banner{
                position: relative;
                overflow: hidden;
                box-sizing: border-box;
               
                &:hover{
                    img{
                        transform: scale(1.05);
                    }
                }
                img{
                    position: relative;
                    top:0;
                    left: 0;
                    width: 100%;
                    transition: all 0.35s ease-in;
                }
                .content-banner{
                    position: absolute;
                    top:50%;
                    left:10%;
                    transform: translateY(-40%);
                    z-index: 1;
                    
                }
            }
        }
    }
}