
<div class="container">
    <div class="row justify-content-between flex-column  flex-md-row  ">
        <div class="col-12 mb-4 col-md-6">
            <div class="banner">
                <div class="content-banner" >
                    <h3 style="color:#464646;">Fresh Vegetable</h3>
                    <span style="font-size: 13px; color:black; font-weight: 600;">SHOP NOW</span>
                </div>
                <img src="../../../assets/banner-left.jpg" alt="">
            </div>
    
        </div>
        <div class="col-12 col-md-6 ">
            <div class="banner ">
                <div class="content-banner">
                    <h3 style="color:#464646;">Naturual Fresh Fruits</h3>
                    <span style="font-size: 13px; color:black; font-weight: 600;">SHOP NOW</span>
                </div>
                <img src="../../../assets/banner-right.jpg" alt="">
            </div>
                
        </div>
        
    </div>
</div>