<td>
  <figure class="itemside d-flex">
    <div class="aside">
      <img [src]="cart.image" class="mr-4" />
    </div>
    <figcaption class="info">
      <a href="#" class="title text-dark">{{ cart.productTitle }}</a>
      <p class="small text-muted">Category: {{ cart.category }}</p>
    </figcaption>
  </figure>
</td>
<td>
  <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</td>
<td *ngIf="cart">
  <div class="price-wrap">
    <var class="price">{{ cart.qty * cart.price | currency: "VND" }}</var>
    <small class="text-muted"> {{ cart.price }} each</small>
  </div>
  <!-- price-wrap .// -->
</td>
<td *ngIf="cart" class="text-right">
  <a
    data-original-title="Save to Wishlist"
    title=""
    href=""
    class="btn btn-light mr-2"
    data-toggle="tooltip"
  >
    <i class="fa fa-heart"></i
  ></a>
  <a href="" class="btn btn-light btn-round"> Remove</a>
</td>
