<div class="item d-flex flex-column justify-content-center">
  <h3>
    <div class="image-product">
      <a [routerLink]="['/products', product.id]">
        <img [src]="product.image" alt="" />
      </a>
      <div class="icons">
        <i class="far fa-heart mb-2"></i>
        <i (click)="handleAddToCart()" class="fas fa-cart-plus"></i>
      </div>
    </div>
    <span [routerLink]="['/products', product.id]" class="name-product">{{
      product.name
    }}</span>
  </h3>

  <span class="category" style="font-size: 12px">{{ product.category }}</span>
  <span
    class="price"
    style="display: block; color: green; font-weight: 600; font-size: 16px"
    >{{ product.price | currency: "VND" }}</span
  >
</div>
