<div class="viewtop">
    <div class="container py-2 d-none d-md-none d-lg-block d-xl-block ">
        <div class="row px-3 d-flex justify-content-between align-items-center">
            <div class="d-flex switch">
                <li>Lang</li>
                <span class="mx-4"> | </span>
                <li>Current</li>
            </div>
    
            <div class="d-flex align-items-center">
                    <li class="mx-2 my-0"><a href=""><i class="fab fa-facebook-f text-dark"></i></a></li>
                    <li class="mx-2"><a href=""><i class="fab fa-instagram  text-dark"></i></a></li>
                    <li class="mx-2"><a href=""><i class="fab fa-twitter  text-dark"></i></a></li>
                    <li class="mx-2"><a href=""><i class="fab fa-linkedin-in  text-dark"></i></a></li>
            </div>
        </div>
    </div>
</div>

<div class="wrap-content-carousel">
    <div class="container">
        <div class="row">
            <div class="left-content col-9">
                <h1>Fresh Tomato</h1>
                <h4>Natural Farm Products</h4>
                <p>Natural organic tomatoes make your health stronger. Put your information here</p>
                <button class="btn-shopnow bg-success text-white">SHOP NOW</button>
            </div>
        </div>
    </div>
</div>

