/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap";
@import "./assets/variable";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}
$primary-color: #40A944;
ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.slider-banner .owl-dots{
    transform: translateY(-40px);
    .owl-dot.active{
        span{
            background: $primary-color;
        }
    }
    .owl-dot {
        span{
            background: none;
            border-radius: 50%;
            border:1px solid $primary-color;
        }
    }
}